.dialog-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-field {
    width: 100%;
    max-width: 400px;
}