:host {
    display: block;
    padding: 1rem;
    font-size: 1rem; // bleibt konstant
}

input[type='range'] {
    width: 100%;
    margin: 0.5rem 0 1rem;
}

.preview {
    border: 1px dashed #bbb;
    padding: 0.5rem;
    border-radius: 4px;
}

html {
    font-size: var(--base-font-size, #{16px});
}