<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!-- Kunden Name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Kunden Name</th>
        <td mat-cell *matCellDef="let el" (click)="editName(el)">{{ el.name }}</td>
    </ng-container>

    <!-- Regal / Fach -->
    <ng-container matColumnDef="shelf">
        <th mat-header-cell *matHeaderCellDef>Regal/Fach</th>
        <td mat-cell *matCellDef="let el" (click)="editShelf(el)">{{ el.shelf }}</td>
    </ng-container>

    <!-- Anzahl -->
    <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef>Anzahl</th>
        <td mat-cell *matCellDef="let el" (click)="editQty(el)">{{ el.qty }}</td>
    </ng-container>

    <!-- Aktionen -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let el">
            <button mat-icon-button color="warn" aria-label="Zeile löschen" (click)="deleteRow(el)">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Zeile bearbeiten" (click)="openEditDialog(el)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>