.table {
    width: 100%;
}

.mat-elevation-z8 {
    margin: 20px 0;
    border-radius: 8px;
}

.table-container {
    max-height: 400px;
    overflow: auto;
}

.mat-header-row {
    font-weight: bold;
}

.mat-sort-header {
    cursor: pointer;
}

.mat-sort-header-arrow {
    opacity: 1 !important;
}

.search-input {
    width: 100%;
}

.cell-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-container {
    margin-left: 10px;
    margin-right: 10px;
}